<?php

namespace [[namespace-path]];

/**
 * Enum [[enum-desc]]
 * @enum
 */
enum [[enum-name]]:[[enum-type]] 
{
    /**
     * Json schema for the model properties
     * @public
     * @const
     * @var array
     */
    public const JsonSchema = [
        'type' => '[[enum-json-type]]',
        'enum' => [
            # region Values:
[[values]]
            # endregion Values;
        ]
    ];

    # region Properties:
[[properties]]
    # endregion Properties;

}