<?php

namespace [[namespace-path]];

use Colibri\Data\Storages\Fields\ObjectField;

# region Uses:
[[uses]]
# endregion Uses;

/**
 * Implements field in table [[property-desc]]
 * @class
 * @extends ObjectField
 * 
 * region Properties:
[[properties-list]]
 * endregion Properties;
 */
class [[class-name]] extends ObjectField
{
    /**
     * Json schema for the model properties
     * @public
     * @const
     * @var array
     */
    public const JsonSchema = [
        'type' => 'object',
        'required' => [
            # region SchemaRequired:
[[schema-required]]
            # endregion SchemaRequired;
        ],
        'properties' => [
            # region SchemaProperties:
[[schema-properties]]
            # endregion SchemaProperties;
        ]
    ];

    # region Consts:
    [[consts]]
    # endregion Consts;

    /**
     * Casts for type of model properties
     * @public
     * @const
     * @var array
     */
    protected static array $casts = [
    # region Casts:
[[casts]]
    # endregion Casts;
    ];

}
